# Exclude huge folders
target/
node_modules/
dist/
.git/
.tauri/

# Recursive exclusions
**/target
**/node_modules
**/dist
**/.git
**/.tauri
**/*.log

# App specific
nutri-app/
**/gen/
**/android/
**/ios/
**/jniLibs/
**/build/
