# Exclude huge folders
target/
src-tauri/target/
node_modules/
dist/
trunk
.git/
.gitignore
.vscode/
README.md
*.log
Dockerfile*
docker-compose.yml
node_modules
trunk
src-tauri/target
**/*.rs.bk
# Recursive exclusions
**/target
**/node_modules
**/dist
**/.git
**/.tauri
**/*.log
**/*.orig
**/.github
**/.devcontainer

# App specific
src-tauri/nutri-app/gen/
src-tauri/nutri-app/target/
src-tauri/nutri-app/android/
src-tauri/nutri-app/ios/
